<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="">
          <i class="bi bi-menu-button-wide"></i><span>Home Contect</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/banner/listing">
              <i class="bi bi-circle"></i><span>Banner</span>
            </a>
          </li>
        </ul>
      </li> -->
      <!-- End Components Nav -->
      <!-- ...............Destination................. -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Category Contect</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/category/listing">
              <i class="bi bi-circle"></i><span>Category</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->
      <!-- ..................Blog................... -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Blog content</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          <li>
            <a href="/blog/listing">
              <i class="bi bi-circle"></i><span>Blog</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
<!-- ........................job post.................... -->
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-layout-text-window-reverse"></i><span>Post</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="/jobpost/listing">
        <i class="bi bi-circle"></i><span>Post list</span>
      </a>
    </li>
  </ul>
</li><!-- End Tables Nav -->
<!-- .................................................. -->

<!-- ........................user-emp-login.................... -->
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-box-arrow-in-right"></i><span>Login list</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="/loginlist/listing">
        <i class="bi bi-circle"></i><span>login list</span>
      </a>
    </li>
  </ul>
</li><!-- End Tables Nav -->
<!-- .................................................. -->

     
      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside>